{% extends 'base.html' %}

{% block head %}
<title>Appointment</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Customer Appointments</h1>
    {% if changes|length < 1 %}
    <h4 style="text-align: center">There are no appointments pending. Create one below:</h4>
    {% else %}
    <table>
        <tr>
            <th>Appointment</th>
            <th>Creation Date</th>
            <th>Actions</th>
        </tr>
        {% for change in changes %}
            <tr>
                <td>{{ change.content }}</td>
                <td>{{ change.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{change.id}}">Delete</a>
                    <br>
                    <a href="/update/{{change.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add an appointment">
        </form>
    </div>
</div>
{% endblock %}